<div class="show">
  <div class="show-item">
    <p><strong>Title:</strong> <%=  @book.title %></p>
    <p><strong>Body:</strong> <%=  @book.body %></p>
  </div>
  <div class="show-link">
    <%= link_to "Edit", edit_book_path(@book.id), class: "link" %>
    |
    <%= link_to "Back", books_path, class: "link" %>
  </div>
</div>